<div *ngFor="let item of Service.list">
  <div *ngIf="item.id == Service.id">
    <form
      action=""
      novalidate
      autocomplete="off"
      #form="ngForm"
      (submit)="onSubmit(form)"
    >
      <input
        type="hidden"
        name="blogId"
        [value]="Service.blogFormData.blogId"
      />
      <div class="form-group">
        <label for="" class="col-form-label-lg">Blog Title</label>
        <input
          type="text"
          class="form-control form-control-lg"
          name="blogTitle"
          #blogTitle="ngModel"
          [(ngModel)]="Service.blogFormData.blogTitle"
          required
          maxlength="100"
          [class.invalid]="blogTitle.invalid &#038;&#038; blogTitle.touched"
        />
      </div>

      <div class="form-group mt-3">
        <label for="" class="col-form-label-lg">Content</label>
        <textarea
          name="cardNumber"
          class="form-control form-control-lg"
          #blogContent="ngModel"
          [(ngModel)]="Service.blogFormData.Content"
          required
          [class.invalid]="blogContent.invalid &#038;&#038; blogContent.touched"
        ></textarea>
      </div>
      <div class="form-group mt-4">
        <button
          class="btn btn-info btn-lg btn-block"
          type="submit"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
